.home-container{
  display: flex;
  min-height: 100vh; /* Full screen height */
  transition: margin 0.3s ease; /* Smooth transition on sidebar toggle */
}
.sidebar {
  flex: 0 0 auto; /* Sidebar takes minimum space needed */
}
.main-content {
  margin-left: 50px;
  transition: margin-left 0.3s ease;
  padding: 20px;
  width: 100%;
}

.home-heading{
  position: relative;
  text-align: center;
  font-size: 5vw;
  /* color: linear-gradient(to top, #ffffff 0%, #9491b8c6 100%); */
  color: azure;
  margin-top: 1.5em;
  /* -webkit-text-stroke: 0.3vw rgb(170, 170, 204);
  text-transform: uppercase; */

}

@keyframes animate
{
  0% ,10% ,100%{
      width: 0;
  }
  70%,90%{
      width: 100%;
  }
}
.para {
  margin-top: 1em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: blanchedalmond;
}
.header {
  text-align: center;
}
.second-heading{
  font-size: xx-large;
  color: rgb(210, 179, 143);
}
.sidebar-open .main-content {
  margin-left: 250px; /* Adjust to match sidebar width when open */
}

.sidebar-closed .main-content {
  margin-left: 60px; /* Minimal space when sidebar is closed */
}
.main-content.shifted {
  margin-left: 250px;
}
